/* Custom CSS to override Bootstrap's default styling */

body {
	background-color: #FEEEAF;
	font-family: 'Cardo', serif;
	color: #291400;
}

h1, h2, h3, h4 {
	font-family: 'Trade Winds', cursive;
	color: #330000;
}
h3 {
	margin-top: 50px;
}

header {
	margin-top: 15px;
	text-align: center;
	font-family: serif;
}

main {
	margin-top: 15px;
	padding: 20px 20px 20px 0px ;
}

footer {
	margin-top: 15px;
	padding: 10px;
	text-align: center;
}

.password {
	text-align: center;
}
.password >h2{
	font-family: sans-serif;
}

.right {
	float: right;
}